.page.hidden {
  display: none;
}

#accounts_list ul {
  list-style-type: none;
  width: 60%;
}

#accounts_list li div {
  display: inline-block;
}

#accounts_list .account_link {
  text-decoration: underline;
  color: blue;
  width: 60%;
}

#accounts_list .account_link:hover {
  cursor: pointer;
}

#accounts_list .total {
  width: 40%;
  text-align: right;
}

#account_detail_splits ul {
  list-style-type: none;
  width: 60%;
}

#account_detail_splits li div {
  display: inline-block;
}

#account_detail_splits li.header, #account_detail_splits li.total {
  font-weight: bold;
}

#account_detail_splits li.entry, #account_detail_splits li.total {
  border-top: 1px solid;
}

#account_detail_splits li.entry:nth-child(odd) {
  background-color: #deebf7;
}

#account_detail_splits .date {
  width: 20%;
}

#account_detail_splits .memo {
  width: 60%;
}

#account_detail_splits .amount {
  width: 20%;
}

/* width and height based on '+'
 * TODO(cjc25): Force the font to make this always fit?
 */
#new_transaction_add_split, .new_transaction_remove_split {
  width: 24px;
  height: 21px;
}
